
/* =========================================================================================================================
                                                    MENU STYLING
=========================================================================================================================== */
.navbar-brand img{
    width: 70px;
    border-radius: 50%;
}
.logo-name{
    letter-spacing: 4px;
    color: blueviolet;
}
.logo-name .f{
    color: red;
    font-size: 38px;
}
.logo-name .c{
    color: #fff;
    font-size: 38px;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    font-size: 20px;
    transition: .5s ease-in-out;
    padding: 0 20px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
/* =========================================================================================================================
                                                    MENU STYLING END
=========================================================================================================================== */




/* =========================================================================================================================
                                                    SLIDER STYLING
=========================================================================================================================== */
.slide{
    width: 100%;
    height: 80vh;
}
.slide .carousel-inner .carousel-item img{
    width: 100%;
    height: 80vh;
    /* opacity: .7; */
}

.slide .carousel-inner .carousel-item .carousel-caption h5{
    color: #000;
    font-size: 50px;
    font-weight: 900;
    opacity: 1;
    margin-top: -200px;
    font-style: italic;
}

.slide .carousel-inner .carousel-item .carousel-caption p{
    font-size: 20px;
    /* color: green; */
    color: #000000;
    font-weight: 400;
    font-style: italic;
}
/* =========================================================================================================================
                                                    SLIDER STYLING END
=========================================================================================================================== */




/* =========================================================================================================================
                                                    CARD STYLING
=========================================================================================================================== */
.card img{
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.card img:hover{
    transform: scale(1.036);
}
.card h6{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.card p{
    font-weight: 300;
    font-size: 13px;
    margin-top: -10px;
}
/* =========================================================================================================================
                                                    CARD STYLING END
=========================================================================================================================== */









/* =========================================================================================================================
                                                    USER PLATE STYLING
=========================================================================================================================== */
.user-plate-bg{
    background: url(../images/bg-plate.avif);
    background-position: 6px -490px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    padding: 50px;
    margin: 10px 0px;
}
.user-plate-bg .slide{
    width: 40%;
    margin: auto;
    height: 100px;
}
.user-plate-bg .slide .carousel-item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* .user-plate-bg .carousel-control-prev-icon{
    color: red !important;
} */
.user-plate-bg .carousel-control-prev-icon{
    background-image: url(../images/arrow.jpg);
    rotate: 180deg;
    width: 100px;
}

.user-plate-bg .carousel-control-next-icon{
    background-image: url(../images/arrow.jpg);
    width: 100px;
}
.user-plate-bg .slide .carousel-item h6{
    font-style: italic;
    color: gray;
}

.user-plate-bg .slide .carousel-item h5{
    font-size: 16px;
    font-weight: 200;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
}

.user-plate-bg .slide .carousel-item p{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #000;
    text-align: center;
    margin-top: -10px;
}
/* =========================================================================================================================
                                                    USER PLATE STYLING END
=========================================================================================================================== */




/* =========================================================================================================================
                                                    BANNER STYLING
=========================================================================================================================== */
.banner h2{
    font-size: 40px;
    padding: 20px 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner p{
    padding: 0 40px;
}
.banner h2 span{
    color: red;
}
.banner .left img{
    width: 200px;
    margin-left: 40px;
}
/* =========================================================================================================================
                                                    BANNER STYLING END
=========================================================================================================================== */





/* =========================================================================================================================
                                                    SUBSCRIBE STYLING
=========================================================================================================================== */
.subscribe .container-fluid{
    background-color: #F7F7F7;
    padding: 100px;
}
.subscribe .container{
    width: 50%;
    margin: auto;
}
.subscribe h2{
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}
.subscribe form input{
    padding: 10px 20px;
    width: 60%;
    border: 1px solid rgb(243, 238, 238);
}
.subscribe form button{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 40px;
    border-radius: none;
    margin-left: -5px;
    text-transform: uppercase;
}
/* =========================================================================================================================
                                                    SUBSCRIBE STYLING END
=========================================================================================================================== */
